*{
    margin: 0;
    padding: 0;
}
body{
    background: url(images/cc.jpg);
    background-size: cover;
}
.main{
    width:1366px;
    height:457px;
    MARGIN-RIGHT: auto;
    MARGIN-LEFT: auto;
        }
a{
    text-decoration: none;
}
li{
    list-style: none;
}
header{
    width: 100%;
    height: 60px;
    background:#fff;
    box-shadow: 2px 3px 5px #ccc;
}
.header-f{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.logo{
    font-size: 20px;
    height: 60px;
    line-height:60px;
    margin-left: 20px;
}
.logo a{
    color: #f16e50;
}
.nav ul{
    display: flex;
    justify-content: start;
}
.nav ul li{
    height: 60px;
    line-height: 60px;
    margin: 0 20px;
}
.nav ul li a{
    color: #333;
}
.nav ul li a:hover{
    color: #f16e50;
}
.nav ul .active a{
    color: #f16e50;
}
